<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>B2Wars - Menu</title>

        <!-- load stylesheets -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400">  <!-- Google web font "Open Sans" -->
        <link rel="stylesheet" href="{% static 'menu/css/bootstrap.min.css' %}">                                                <!-- Bootstrap style -->
        <link rel="stylesheet" href="{% static 'menu/css/flexslider.css' %}">                                                   <!-- Flexslider style -->       
        <link rel="stylesheet" href="{% static 'menu/css/templatemo-style.css' %}">                                             <!-- Templatemo style -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body class="page">
        
            
            <!-- background images -->
            <div class="page-bg-imgs-list">
                <img src="{% static 'menu/images/menu_bg.jpg' %}" id="menu-img" class="main-img" alt="Game">
           </div>
            
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        
                        <div class="header">

                            <!-- site title -->
                            <header class="box box-white">
                                <a href="javascript:void(0)" class="js-site-title">
                                    <h1 class="box-text site-title-text">Back to Wars</h1>
                                </a>            
                            </header>
                           
                            <!-- site navigation -->
                            <nav class="js-nav">
                                <ul class="nav-items-container">

                                    <li data-nav-item-id="page-1" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-left">
                                        <a href="#page-1" class="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">Game</span>
                                        </a>
                                    </li>

                                    <li data-nav-item-id="page-2" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-right">
                                        <a href="#page-2" class="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">Choose deck</span>
                                        </a>
                                    </li>

                                    <li data-nav-item-id="page-3" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-left">
                                        <a href="#page-3" class="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">Rating</span>
                                        </a>
                                    </li>

                                    <li data-nav-item-id="page-4" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-right">
                                        <a href="#page-4" class="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">Settings</span>
                                        </a>
                                    </li>

                                </ul>
                            </nav>    
                        </div> <!-- .header -->

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="content-wrapper js-content-wrapper">
                            <!-- game -->
                            <section data-page-id="page-1" class="content js-content">
                                
                                <header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Game menu</h2>
                                </header>

                                <div class="content-text">
                                    <p>
                                    <a rel="nofollow" href="{% url 'battle' %}" target="_self">Start Game</a>
                                    </p>

                                </div>            

                            </section> <!-- #game -->

                            <!-- choose deck -->
                            <section data-page-id="page-2" class="content content-gallery js-content">
                                
                                <header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Choose deck</h2>
                                </header>
                                
                                <div class="content-text content-text-gallery">
                                    
                                    <div class="flexslider-wrapper">

                                        <div id="slider" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="{% static 'menu/images/slider/slide1.jpg' %}" alt="Slide 1" /></li>
                                                <li><img src="{% static 'menu/images/slider/slide2.jpg' %}" alt="Slide 2" /></li>
                                                <li><img src="{% static 'menu/images/slider/slide3.jpg' %}" alt="Slide 3" /></li>
                                                <li><img src="{% static 'menu/images/slider/slide4.jpg' %}" alt="Slide 4" /></li>
                                                <li><img src="{% static 'menu/images/slider/slide5.jpg' %}" alt="Slide 5" /></li>
                                                <li><img src="{% static 'menu/images/slider/slide6.jpg' %}" alt="Slide 6" /></li>
                                            </ul>
                                        </div> <!-- #slider -->
                                      
                                        <div id="carousel" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="{% static 'menu/images/slider/thumb1.jpg' %}" alt="Thumbnail 1" /></li>
                                                <li><img src="{% static 'menu/images/slider/thumb2.jpg' %}" alt="Thumbnail 2" /></li>
                                                <li><img src="{% static 'menu/images/slider/thumb3.jpg' %}" alt="Thumbnail 3" /></li>
                                                <li><img src="{% static 'menu/images/slider/thumb4.jpg' %}" alt="Thumbnail 4" /></li>
                                                <li><img src="{% static 'menu/images/slider/thumb5.jpg' %}" alt="Thumbnail 5" /></li>
                                                <li><img src="{% static 'menu/images/slider/thumb6.jpg' %}" alt="Thumbnail 6" /></li>
                                            </ul>
                                        </div>  <!-- #carousel -->

                                    </div>
                                        
                                </div>            

                            </section> <!-- #choose deck -->
                            
                            <!-- rating -->
                            <section data-page-id="page-3" class="content js-content">
                                
                                <header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Rating</h2>
                                </header>
                                
                                <div class="content-text">
                                    <h4>1. XXX</h4>
                                    <h4>2. YYY</h4>
                                    <h4>3. ZZZ</h4>
                                    <p>4. a</p>
                                    <p>5. b</p>
                                </div>            

                            </section> <!-- #rating -->

                            <!-- settings -->
                            <section data-page-id="page-4" class="content js-content">
                                
                                <header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Settings</h2>
                                </header>
                                
                                <div class="content-text">

                                    <p>
                                    <a rel="nofollow" href="{% url 'logout' %}" target="_self">Logout</a>
                                    </p>                           
                                </div>            

                            </section> <!-- #Settings -->
                        </div>
                    </div>

                </div>
                    
                <!-- footer row -->
                <footer class="row footer js-footer">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <p class="copyright-text">Copyright &copy; 2016 B2Wars </p>  

                    </div>                
                </footer>

            </div>  <!-- .container-fluid -->

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div><!-- /#preloader -->      
            
        <!-- load JS files -->
        <script src="{% static 'menu/js/jquery-1.11.3.min.js' %}"></script> <!-- jQuery -->
        <script src="{% static 'menu/js/jquery.flexslider-min.js' %}"></script> <!-- Flex Slider -->
        <script src="{% static 'menu/js/jquery.backstretch.min.js' %}"></script> <!-- Backstretch http://srobbin.com/jquery-plugins/backstretch/ -->
        <script src="{% static 'menu/js/templatemo-script.js' %}"></script> <!-- Templatemo scripts -->
    
    </body>
</html>
