<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<title>B2W Coming Soon!</title>
	<meta name="description" content="B2W Coming Soon!" >
	<meta name="author" content="Back to Wars">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- Bootstrap  -->
	<link href="{% static 'front_page/assets/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- icon fonts font Awesome -->
	<link href="{% static 'front_page/assets/css/font-awesome.min.css' %}" rel="stylesheet">

	<!-- Custom Styles -->
	<link href="{% static 'front_page/assets/css/style.css' %}" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<![endif]-->

</head>
<body>


	<!-- Preloader -->
	<div id="preloader">
		<div id="loader">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="lading"></div>
		</div>
	</div><!-- /#preloader -->
	<!-- Preloader End-->


	<!-- Main Menu -->
	<div id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="navbar-header">
			<!-- responsive navigation -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button> <!-- /.navbar-toggle -->

		</div> <!-- /.navbar-header -->

		<nav class="collapse navbar-collapse">
			<!-- Main navigation -->
			<ul id="headernavigation" class="nav navbar-nav">
				<li class="active"><a href="#page-top">Home</a></li>	
				<li><a href="#login">Join testing</a></li>	
				<li><a href="#about">About</a></li>	
				<li><a href="#contact">Contact</a></li>		
			</ul> <!-- /.nav .navbar-nav -->
		</nav> <!-- /.navbar-collapse  -->
	</div><!-- /#main-menu -->
	<!-- Main Menu End -->
	

	<!-- Page Top Section -->
	<section id="page-top" class="section-style" data-background-image="{% static 'front_page/images/background/menu_bg.jpg' %}">
		<div class="pattern height-resize">
			<div class="container">
				<h1 class="site-title">
					Back to Wars
				</h1><!-- /.site-title -->
				<h3 class="section-name">
					<span>
						We Are
					</span>
				</h3><!-- /.section-name -->
				<h2 class="section-title">
					Coming Soon
				</h2><!-- /.Section-title  -->
				<div id="time_countdown" class="time-count-container">

					<div class="col-sm-3">
						<div class="time-box">
							<div class="time-box-inner dash days_dash animated" data-animation="rollIn" data-animation-delay="300">
								<span class="time-number">
									<span class="digit">0</span>
									<span class="digit">0</span>
									<span class="digit">0</span>
								</span>
								<span class="time-name">Days</span>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="time-box">
							<div class="time-box-inner dash hours_dash animated" data-animation="rollIn" data-animation-delay="600">
								<span class="time-number">
									<span class="digit">0</span>
									<span class="digit">0</span>	
								</span>
								<span class="time-name">Hours</span>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="time-box">
							<div class="time-box-inner dash minutes_dash animated" data-animation="rollIn" data-animation-delay="900">
								<span class="time-number">
									<span class="digit">0</span>
									<span class="digit">0</span>
								</span>
								<span class="time-name">Minutes</span>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="time-box">
							<div class="time-box-inner dash seconds_dash animated" data-animation="rollIn" data-animation-delay="1200">
								<span class="time-number">
									<span class="digit">0</span>
									<span class="digit">0</span>
								</span>
								<span class="time-name">Seconds</span>
							</div>
						</div>
					</div>
					
				</div><!-- /.time-count-container -->

				<p class="time-until">
					<span>Time Until Alpha Launch</span>
				</p><!-- /.time-until -->



				<div class="next-section">
					<a class="go-to-login"><span></span></a>
				</div><!-- /.next-section -->
				
			</div><!-- /.container -->
		</div><!-- /.pattern -->		
	</section><!-- /#page-top -->
	<!-- Page Top Section  End -->

	<!-- Login Section -->
	<section id="login" class="section-style" data-background-image="{% static 'front_page/images/background/menu_bg.jpg' %}">
		<div class="pattern height-resize"> 
			<div class="container">
				<h3 class="section-name">
					<span>
						Try It Now
					</span>
				</h3><!-- /.section-name -->
				<h2 class="section-title">
					Join Testing
				</h2><!-- /.Section-title  -->
				<p class="section-description">
			        Register now and enjoy the game FOR FREE!
				</p><!-- /.section-description -->

                <div class="col-sm-6">
                <!-- Login Form -->
                    <form id="login-form" action="{% url 'checklog' %}" method="post" class="clearfix">

                        <div class="login-error"></div>
						<input type="text"  class="form-control" id="login-username" name="login-username" required placeholder="Login">
	    				<input type="password"  class="form-control" id="login-password" name="login-password" required placeholder="Password">
                        <button id="login-submit" class="btn custom-btn col-xs-12" type="submit" name="submit"><p>Sign in</p></button>
                        {% csrf_token %}

                    </form>
                <!-- /.Login Form -->
				</div>

                <div class="col-sm-6">
                <!-- Registration Form -->
                    <form id="registration-form" action="{% url 'checkreg' %}" method="post" class="clearfix">
                        <div class="registration-error"></div>
						<input type="text"  class="form-control" id="registration-username" name="registration-username" autocomplete="off" required placeholder="Login">
	    				<input type="password"  class="form-control" id="registration-password" name="registration-password" autocomplete="off" required placeholder="Password">
                        <input type="email"  class="form-control" id="registration-email" name="registration-email" autocomplete="off" required placeholder="Email">
                        <input type="text"  class="form-control" id="registration-lastname" name="registration-lastname" autocomplete="off" required placeholder="Last name">
                        <input type="text"  class="form-control" id="registration-firstname" name="registration-firstname" autocomplete="off" required placeholder="First name">
                        <button id="registration-submit" class="btn custom-btn col-xs-12" type="submit" name="submit"><p>Register</p></button>

                        {% csrf_token %}
                    </form>
                <!-- Registration Form -->
		        </div>

				<div class="next-section">
					<a class="go-to-subscribe"><span></span></a>
				</div><!-- /.next-section -->

			</div><!-- /.container -->
		</div><!-- /.pattern -->
		
		
	</section><!-- /#login -->
	<!-- Login Section End -->

	<!-- About Section -->
	<section id="about" class="section-style" data-background-image="{% static 'front_page/images/background/menu_bg.jpg' %}">
		<div class="pattern height-resize"> 
			<div class="container">
				<h3 class="section-name">
					<span>
						About new project
					</span>
				</h3><!-- /.section-name -->
				<h2 class="section-title">
					Find out more
				</h2><!-- /.Section-title  -->
				<p class="section-description">
			        The most innovative and exciting online card game! It can be accessed from browser and contains a lot of colorful cards, unexpected effects. B2Wars will certainly give you a lot of new inforgettable moments! Just join now to try it for your own now and... Have a good fight!
				</p><!-- /.section-description -->

   				<div class="next-section">
					<a class="go-to-subscribe"><span></span></a>
				</div><!-- /.next-section -->

			</div><!-- /.container -->
		</div><!-- /.pattern -->
		
		
	</section><!-- /#about -->
	<!-- About Section End -->

		<!-- Contact Section -->
		<section id="contact" class="section-style" data-background-image="{% static 'front_page/images/background/menu_bg.jpg' %}">
			<div class="pattern height-resize">
				<div class="container">
					<h3 class="section-name">
						<span>
							Contact
						</span>
					</h3><!-- /.section-name -->
					<h2 class="section-title">
						Get in Touch 
					</h2><!-- /.Section-title  -->
					<p class="section-description">
						We are always open to new offers, ideas and feedback
					</p><!-- /.section-description -->

        <!-- EMAIL section -->
					<form id="contact-form" action="{% url 'send_email' %}" method="post" class="clearfix">
                    {% csrf_token %}
						<div class="contact-box-hide">
							<div class="col-sm-6">
								<input type="text"  class="form-control" id="first_name" maxlength="255" name="first_name" required placeholder="First Name">
								<span class="first-name-error"></span>
							</div>
							<div class="col-sm-6">
								<input type="text"  class="form-control" id="last_name" maxlength="255" name="last_name" required placeholder="Last Name">
								<span class="last-name-error"></span>
							</div>
							<div class="col-sm-6">
								<input type="email" class="form-control"  id="contact_email" name="contact_email" required placeholder="Email Address">
								<span class="contact-email-error"></span>
							</div>
							<div class="col-sm-6">
								<input type="text"  class="form-control" id="subject" name="contact_subject" required placeholder="Subject">
								<span class="contact-subject-error"></span>
							</div>
							<div class="col-sm-10">
								<textarea class="form-control" rows="5" id="message" name="message" required placeholder="Message"></textarea>
								<span class="contact-message-error"></span>
							</div>
							<div class="col-sm-2">
								<button id="contact-submit" class="btn custom-btn col-xs-12" type="submit" name="submit"><i class="fa fa-rocket"></i></button>
								<span id="contact-loading" class="btn custom-btn col-xs-12"> <i class="fa fa-refresh fa-spin"></i> </span>
							</div>
						</div><!-- /.contact-box-hide -->
                        <div class="contact-message"></div>

					</form><!-- /#contact-form -->		

					<div class="next-section">
						<a class="go-to-page-top"><span></span></a>
					</div><!-- /.next-section -->

				</div><!-- /.container -->
			</div><!-- /.pattern -->

		</section><!-- /#contact -->
		<!-- Contact Section End -->


        
		<!-- Footer Section -->
		<footer id="footer-section">
			<p class="copyright">
				&copy; <a href="">B2Wars</a> 2016, All Rights Reserved.
			</p>
		</footer>
		<!-- Footer Section End -->


		<!-- jQuery Library -->
		<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
		<!-- Modernizr js -->
		<script type="text/javascript" src="{% static 'assets/js/modernizr-2.8.0.min.js' %}"></script>
		<!-- Plugins -->
		<script type="text/javascript" src="{% static 'assets/js/plugins.js' %}"></script>
		<!-- Custom JavaScript Functions -->
		<script type="text/javascript" src="{% static 'front_page/assets/js/functions.js' %}"></script>
		<!-- Custom JavaScript Functions -->
		<script type="text/javascript" src="{% static 'front_page/assets/js/jquery.ajaxchimp.min.js' %}"></script>

	</body>
	</html>
